 #close {
    display: inline-block;
     position: absolute;
    left: 1020px;
     top:-106px;
     height: 18px;
    width: 18px;
    padding: 3px;
    text-align: center;
    color: black;
    font-size: 24px;
    background-color: white;
                    line-height:0.5;
     z-index: 1;
}

#close:hover {
    text-decoration: underline;
    transform: scale(1.02);
}
