button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    
    border: none;
    cursor: pointer;
    height: fit-content;
    width: fit-content;
    font-size: medium;
  }
  button:hover {
    opacity: 0.9;
  }
 #sendotp{
     background-color: #04AA6D;
     color: white;
 }
 button:hover {
    opacity: 0.9;
  }
#verify{
     background-color: #04AA6D;
     color: white;
 }
  h1{
      text-align: center;
      color: blue;
  }
  td{
      column-gap:20px;
  }
  table{
      text-align: center;
      background-image:url("F:/Login page/texture");
      background-color:ghostwhite;
  }